.title{
    position: absolute;
    top: 0;
    right: 10px;
}

.nav-item a{
    /* insert css styling for the nav tabs here */
    font-weight: 500;
    color: black;
    /* background-color: ; */
}
